# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/

# Other
*.log
*.tmp
*.swp
